@media only screen and (max-width: 1024px){
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;  
    }
    .nav-left {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .nav-menu{
        flex-direction: column;
        gap:10px;
        width: 100%;
    }
    .nav-right{
        text-align: center;
    }
    .header{
        flex-direction: column-reverse;
        padding: 50px 0px;
        gap: 20px;    
    }
    .header h6, h3, p{
      text-align: center;
    
    }
    .left{
        width: 100%;
    }
    .btn{
        
        margin-top: 50px;
        flex-direction: column;
        gap: 20px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 20px;
           
    }
    .experience{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        flex-wrap: wrap;
        width: 100%;
    }
    .experience .right-details{
        margin-top: 30px;
    }
    .experience .right-details h6{
        font-size: 18px;
        text-align: center;
    }
    .experience .right-details h3{
        font-size: 40px;
    }
    .experience-btn{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap:30px;
    }

    .service-card{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;   
    }

    .achivement{
   
        margin: 100px 0px;
    
    }
    .achivement-header{
        text-align: center;
        padding-top: 0px;
    }
    .achivement-card{
        margin-top: 120px;
        padding: 0px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;   
        gap: 30px; 
    }  
    .preview{
        flex-wrap: wrap;
    }
}
