@media only screen and (max-width: 768px){
    .experience .left-img img{
        width: 350px;
    height: 347.261px; 
    }
    .service-btn{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .card-hidden{
        display: none;
    }

    .service-card{
        margin-bottom: 50px;     
    }
    .achivement{
   
        margin: 40px 0px;
    
    }
    .achivement-header{
        text-align: center;
        padding-top: 50px;
    }
    .achivement-card{
        margin-top: 100px;
        padding: 0px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;   
        gap: 30px;
    
    }
}

@media only screen and (max-width: 600px){
   
    nav{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav-menu{
        flex-direction: column;
        gap:10px;
        width: 100%;
    }
    .nav-left ul{
        
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .nav-right{
       width: 100%;
       text-align: center;
    }
     .header{
            padding: 30px 0px;
        }
    .header .left h6{
        color: #222;
        font-size: 20px;
        font-weight: 600;
        
    }
    .header h3{
        color: #222;
        font-size: 30px;
        font-weight: 700;
    }
    .header h3 span{
        color: #07F;
        font-size: 30px;
        font-weight: 700;
    }
    .header p{
        color: #222;
        font-size: 20px;
        font-weight: 400; 
    }
    .right img{
        width: 350px;
    height: 354.43px;
    }
    .card-blue a{
        text-align: center;
    
    }
}