@media only screen and (max-width: 768px){
    .experience .left-img img{
        width: 100%;
    }
    .service-btn{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .card-hidden{
        display: none;
    }

    .service-card{
        margin-bottom: 50px;     
    }
    .achivement{
   
        margin: 40px 0px;
    
    }
    .achivement-header{
        text-align: center;
        padding-top: 50px;
    }
    .achivement-card{
        margin-top: 100px;
        padding: 0px 0px;

    }
    .overview-btn {
        gap: 20px;
        flex-wrap: wrap;
        
    }
    .client{
        margin: 0px 0px;
    }
    .Contact{
        margin: 50px 0;
    }

    .footer{
       flex-wrap: wrap;
       justify-content: center;
       align-items: center; 
    }
    .right img{
        width: 100%;
    }
   

}

@media only screen and (max-width: 600px){
    a{

        font-size: 16px;

    }
    nav{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-menu{
        flex-direction: column;
        gap:10px;
        width: 100%;
    }
    .nav-left ul{
        
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .nav-right{
       width: 100%;
       text-align: center;
    }
     .header{
            padding: 30px 0px;
        }
    .header .left h6{
        color: #222;
        font-size: 18px;
        font-weight: 600;
        
    }
    .header .left h3{
        color: #222;
        font-size: 30px;
        font-weight: 700;
    }
    .header .left h3 span{
        font-size: 30px;
    }
    .header .left p{
        font-size: 16px;
    }
    .experience .right-details h6{
        font-size: 16px; 
    }
    .experience .right-details h3{
      font-size: 30px;
    }
    
    .experience .right-details p{
        font-size: 16px;
    }
    .service-section{
        margin:  0;
        margin-bottom: 100px;
    }
    .service-header h6{
        font-size: 14px;
    }
    .service-header h3{
        font-size: 30px;
        
    }
    .service-header p{
        font-size: 18px;
   
    }
    .card-blue h3{
        font-size: 20px;
    }
    .card-blue p{
        font-size: 16px;
    }
    .card-blue a{
        font-size: 16px;;
    }
    .card-hidden h3{
        font-size: 30px;
    }
    .card-hidden p{
        font-size: 16px;
    }
    .card-hidden a{
        font-size: 16px;;
}

.achivement-header h6{
    font-size: 16px;
}
.achivement-header h3{

    font-size: 30px;
}
.card-white h2{
    font-size: 40px;
}
.card-white p{
    font-size: 16px;

}
.achivement{
    margin: 0 0px;
    margin-bottom: 50px;
}
.achivement-card{
    margin-top: 50px;
    gap: 20px;
}

.projects{
    padding: 50px 0px;
    
}
.project-header h6{
    font-size: 16px;

}
.project-header h3{
    font-size: 30px;
}
.client-body{
    gap: 10px;
    margin-bottom: 10px;
    
}
.text-color h6{
    font-size: 18px;
    
}
.text-color h3{
   font-size: 30px;
}
.details{
    width: 100%;
    height: 272px;
}
.request{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name{
    width: 45%;
}
.email{
    width: 45%;
 }
.how{
    width: 100%;
    }
    textarea{
        width: 100%;
    }
    .footer{
        padding: 0px 0px;
        padding-bottom: 30px;
    }

    .client-header h6{
        font-size: 18px;
    }
    .client-header h3{
        font-size: 35px;
    }

}